{% extends 'base.html.jinja2' %}

{% block main %}
    <table class="table table-bordered table-striped" id="table">
        <thead>
        <tr>
            {% for col in model.columns %}
                <th>{% if col.primary_key %}<i data-feather="key"></i> {% endif %}{{ col.name }} [{{ col.type }}]</th>
            {% endfor %}
            <th class="text-center">update</th>
            <th class="text-center">delete</th>
        </tr>
        </thead>
        <tbody>
        {% for item in model.all() %}
            <tr>
                {% for col in model.columns %}
                    <td>{{ item[col.name] }}</td>
                {% endfor %}
                <td class="text-center"><a href="{{ get_url(model.endpoint, path="update", **item.to_dict()) }}" class="btn btn-warning">Update</a></td>
                <td class="text-center"><a href="{{ get_url(model.endpoint, path="delete", **item.to_dict()) }}" class="btn btn-danger">Delete</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            $('#table').DataTable();
        });
    </script>
{% endblock %}