{% extends 'base.html.jinja2' %}

{% block main %}
    <table class="table table-bordered table-striped" id="table">
        <thead>
        <tr>
            {% for col in model.columns %}
                <th>{{ col.name }}</th>
            {% endfor %}
            <th>update</th>
            <th>delete</th>
        </tr>
        </thead>
        <tbody>
        {% for item in model.all() %}
            <tr>
                {% for col in model.columns %}
                    <td>{{ item[col.name] }}</td>
                {% endfor %}
                <td class="text-center"><a href="{{ get_url(model.endpoint, path="/update") }}" class="btn btn-warning">Update</a></td>
                <td class="text-center"><a href="{{ get_url(model.endpoint, path="/delete") }}" class="btn btn-danger">Delete</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            $('#table').DataTable();
        });
    </script>
{% endblock %}