{% include 'components/operation_submit_button.html.jinja2' %}

<script>
    $("#summon-modal").on('click', function (event) {
        $("#modal-body").html($("#form-content").clone())
        $("#modal-body :input").attr("disabled", true);
    })
    $("#submit").on('click', function (event) {
       $("#modal-body").html()
    })
</script>

<div class="modal fade" id="confirm-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center">Are you sure you want to {{ request.view_args['operation'] }} {{ model.name }}?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="h6 py-1">You have entered the below:</p>
                <div class="border rounded p-4" id="modal-body">
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-around">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                {{ form.confirm(class="btn btn-info") }}
            </div>
        </div>
    </div>
</div>
