{% from 'components/macros.html.jinja2' import operation_colour %}

<div class="form-group text-center">
    {% with classes = "btn btn-" + operation_colour(operation) %}
        {% with label = operation.name + " " + operation.model.name %}
            {% if operation == "read" %}
                {{ form.confirm(class=classes, value=label) }}
            {% else %}
                <button id="summon-modal" type="button" class="{{ classes }}" data-toggle="modal" data-target="#confirm-modal">{{ label }}</button>
            {% endif %}
        {% endwith %}
    {% endwith %}
</div>
