{#{% extends 'base_table.html.jinja2' %}#}
{##}
{#{% block main %}#}
{#    {% include 'components/flash.html.jinja2' %}#}
{##}
{#    <div class="container-fluid p-0">#}
{#        <div class="card mt-2 mb-4">#}
{#            <div class="card-header">#}
{#                <ul class="nav nav-tabs card-header-tabs">#}
{#                    {% for operation in model.operations %}#}
{#                        <li class="nav-item">#}
{#                            <a class="nav-link {% if operation.name in request.view_args.get("operation") %}active{% endif %}" href="{{ get_url(endpoints.table_operation_view, tablename=model.name, operation=operation.name) }}">{{ operation.name }}</a>#}
{#                        </li>#}
{#                    {% endfor %}#}
{#                </ul>#}
{#            </div>#}
{#            <div class="card-body">#}
{#                {% block form_card %}#}
{#                {% endblock %}#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{##}
{##}
{#    {% block body %}#}
{#    {% endblock %}#}
{##}
{#{% endblock %}#}
