{% extends 'base_table.html.jinja2' %}

{% block form_card %}
    <form method="post">
        <div role="form" id="form-content">
            <div class="form-group">
                {{ form.csrf_token }}
            </div>
            {% for field in form.fields %}
                <div class="form-group">
                    {{ field.label }}:
                    {% if field.description.is_pk and request.args.get("from_table") == "True" %}
                        {{ field(class="form-control mb-4", disabled="True") }}
                    {% else %}
                        {{ field(class="form-control mb-4") }}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        {% include 'components/operation_confirm_submit_modal.html.jinja2' %}
    </form>
{% endblock %}
