{% extends 'base_table.html.jinja2' %}

{% block form_card %}
    <form id="filter-form">
        {% for field in form.filter_fields %}
            {{ make_field(field, readonly=is_single) }}
        {% endfor %}
    </form>
    <div class="form-group text-center">
        {{ form.confirm(class="btn btn-danger", value="delete") }}
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $("#confirm").on('click', function () {
            var formData = getFormData('filter-form', true)

            var success_alert = $("#success-alert")
            var failure_alert = $("#failure-alert")
            success_alert.hide()
            failure_alert.hide()

            if (confirm("Are you sure you want to delete these entries?")) {
                $.ajax({
                    url: '{{ get_url("delete", tablename=model.name) }}',
                    type: 'DELETE',
                    data: formData,
                    success: function (result) {
                        if (result.success) {
                            $("#success-text").text(result.message);
                            success_alert.show();
                        } else {
                            $("#failure-text").text(result.message);
                            failure_alert.show();
                        }
                    }
                })
            }
            return false;
        })
    </script>
{% endblock %}
