{% extends 'operations/base_operation.html.jinja2' %}

{% from 'components/macros.html.jinja2' import operation_colour %}

{% block form_card %}
    <form method="get">
        <div role="form" id="form-content">
            {% for fields in form.fields_to_show() | batch(4) %}
                <div class="form-row d-flex justify-content-center">
                    {% for field in fields %}
                        <div class="form-group col-3">
                            {{ field.label(class="col-form-label") }}{% if field.__required__ %}<span class="text-danger">*</span>{% endif %}
                            {{ field(class="form-control col-12") }}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        {% include 'components/operation_submit_button.html.jinja2' %}
    </form>
{% endblock %}

{% block body %}
    <table class="table table-bordered table-striped" id="table">
        <thead>
        <tr>
            {% for col in operation.model.columns %}
                <th>{% if col.primary_key %}<i data-feather="key"></i> {% endif %}{{ col.name }} [{{ col.type }}]</th>
            {% endfor %}
            {#            <th class="text-center">update</th>#}
            {#            <th class="text-center">delete</th>#}
        </tr>
        </thead>
        <tbody>
        {% for item in data %}
            <tr>
                {% for col in operation.model.columns %}
                    <td>{{ item[col.name] }}</td>
                {% endfor %}
                {#                <td class="text-center"><a href="{{ get_url(operation.model.endpoint, operation="update", **item.to_dict()) }}" class="btn btn-warning">Update</a></td>#}
                {#                <td class="text-center"><a href="{{ get_url(operation.model.endpoint, operation="delete", **item.to_dict()) }}" class="btn btn-danger">Delete</a></td>#}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            $('#table').DataTable();
        });
    </script>
{% endblock %}
