{% extends 'operations/base_operation.html.jinja2' %}

{% block form_card %}
    <form method="post">
        <div class="form-group">
            {{ form.csrf_token }}
        </div>
        {% for field in form.fields_to_show() %}
            <div class="form-group">
                {{ field.description.key }} {{ field.label }} {{ field.description.col_type }} {{ field.description.nullable }}:
                {{ field(class="form-control mb-4") }}
            </div>
        {% endfor %}
        {% include 'components/operation_button.html.jinja2' %}
    </form>
{% endblock %}
