{% extends 'operations/base_operation.html.jinja2' %}

{% block form_card %}
    <form method="post">
        <div class="form-group">
            {{ form.csrf_token }}
        </div>
        <div class="row">
            <div class="col-6">
                <div class="mb-3 border-bottom">
                    <h6 class="card-title">Find these entries</h6>
                    <p class="text-muted">Query the table by these values to get the entries you want to update</p>
                </div>
                <div role="form" id="form-content">
                    {% for field in form.query_fields_to_show() %}
                        <div class="form-group">
                            {{ field.description.key }} {{ field.label }} {{ field.description.col_type }} {{ field.description.nullable }}:
                            {{ field(class="form-control mb-4") }}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-6">
                <div class="mb-3 border-bottom">
                    <h6 class="card-title">Update to these values</h6>
                    <p class="text-muted">Then update those entries with the values inputted to the fields below</p>
                </div>
                {% for field in form.fields_to_show() %}
                    <div class="form-group">
                        {{ field.description.key }} {{ field.label }} {{ field.description.col_type }} {{ field.description.nullable }}:
                        {{ field(class="form-control mb-4") }}
                    </div>
                {% endfor %}
            </div>
        </div>
        {% include 'components/operation_confirm_submit_modal.html.jinja2' %}
    </form>
{% endblock %}
